{% extends 'base_navi.html' %}

{% block body %}
<h2 style="margin-top:30px;">Here list all the resolved incidents</h2>
<table class="table table-striped" style="width:100%;margin-top:30px;">
  <tr>
    <th>Incident ID</th>
    <th>Type</th>
    <th>Category</th>
    <th>Time</th>
    <th>Location</th>
    <th>Department</th>
  </tr>
 {% for incident in incident_history %}
  <tr>
    <td>{{ incident.id }}</td>
    <td>{{ incident.incident_type }}</td>
    <td>{{ incident.incident_category }}</td>
    <td>{{ incident.incident_time }}</td>
    <td>{{ incident.incident_location }}</td>
    <td>{{ incident.incident_department }}</td>
  </tr>
    {% endfor %}
</table>
<a class="btn btn-default" href="{% url 'callcentre:callcentre_home' %}" role="button" style="margin-bottom:80px;">Back</a>
{% endblock %}