{% extends 'base_navi.html' %}

{% block body %}

<h2 style="margin-top:30px;">Here displays all the unresolved incidents.</h2>
<table class="table table-striped" style="margin-top:30px;margin-bottom:30px;">
  <tr>
    <th>Incident ID</th>
    <th>Type</th>
    <th>Category</th>
    <th>Time</th>
    <th>Location</th>
    <th>Status</th>
    <th>Department</th>
  </tr>
 {% for incident in all_unsolved_incidents %}
  <tr>
    <td>{{ incident.id }}</td>
    <td>{{ incident.incident_type }}</td>
    <td>{{ incident.incident_category }}</td>
    <td>{{ incident.incident_time }}</td>
    <td>{{ incident.incident_location }}</td>
    <td>{{ incident.incident_status }}</td>
    <td>{{ incident.incident_department }}</td>
  </tr>
    {% endfor %}
</table>
<a class="btn btn-default" href="{% url 'incidentCreation:incidentCreation' %}"  role="button">Create incidents</a>
<a class="btn btn-default" href="{% url 'statusTrack:statusTrack' %}"  role="button" style="margin-left:10px;">Update status</a>
<a class="btn btn-default" href="{% url 'callcentre:callcentre_history' %}" role="button" style="float:right;margin-right:30px;margin-bottom:30px;">History</a>
{% endblock %}
