
{% extends 'base_navi.html' %}

{% block body %}

<script>
function sumbit_sure(){
var gnl=confirm("Confirm to submit?");
if (gnl==true){
return true;
}else{
return false;
}
}
</script>

<h1>Create a New Incident</h1>
  <form action="/incidentCreation"  method="GET" onsubmit="return sumbit_sure()">
    {% for field in form %} 
    <div class="fieldWrapper">
     {{ field.label_tag }}:{{ field }} {{ field.errors }} 
    </div>
    {% endfor %} 
    <div class="fieldWrapper">
    <p><input type="submit" value="Submit"/><div>

  </form>
{% endblock %}
