{% extends 'base_navi.html' %}
{% block body %}

<script>
function sumbit_sure(){
var gnl=confirm("Confirm to update?");
if (gnl==true){
return true;
}else{
return false;
}
}
</script>

<h2>Status Track Page - Status track for unsolved incidents</h2>
<h3>{{ incident }}</h3>
<h1></h1>

<table class="table table-striped" style="width:100%">
  <tr>
    <th>Incident ID</th>
    <th>Type</th>
    <th>Time</th>
    <th>Location</th>
    <th>Status</th>
    <th>Department</th>
  </tr>

  <tr>
    <td>{{ incident.id }}</td>
    <td>{{ incident.incident_category }}</td>
    <td>{{ incident.incident_time }}</td>
    <td>{{ incident.incident_location }}</td>
    <td>{{ incident.incident_status }}</td>
    <td>{{ incident.incident_department }}</td>
  </tr>
</table>

  <form action=""  method="POST" style="font-size:18px;">
      {% csrf_token %}
    {{ form }}
    <br>
    <input type="submit" value="Save" class="btn btn-default" style="margin-top:20px;font-size:15px;"/>
      <a class="btn btn-default" href="{% url 'statusCreation:index' %}" role="button" style="margin-top:20px;font-size:15px;">Back</a>
  </form>


{% endblock %}