{% extends 'base_navi.html' %}

{% block body %}

<script>
function sumbit_sure(){
var gnl=confirm("Confirm to update?");
if (gnl==true){
return true;
}else{
return false;
}
}
</script>

<h1>Status Track Page</h1>
<h2>Status track for unsolved incidents</h2>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="" value="">
    <button type="submit">Submit</button>
  </form>
  <form action="/statustrack"  method="GET" onsubmit="return sumbit_sure()">
    {% for field in form %}
    <div class="fieldWrapper">
     {{ field.label_tag }}:{{ field }} {{ field.errors }}
    </div>
    {% endfor %}
    <div class="fieldWrapper">
    <p><input type="submit" value="Update"/><div>

  </form>
{% endblock %}
