<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .row.content {
        height: 100vh;}

    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height:100vh;
    }
        footer {
      background-color: #555;
      color: white;
      padding: 15px;
            /*position:fixed;*/
            /*bottom:0;*/
            /*width:100%;*/
            /*margin-top:40px;*/
    }


         @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'map:map_home' %}">Homepage</a>
        </div>

        <!--items-->
        <div class="collapse navbar-collapse topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'callcentre:callcentre_home' %}">
                        <span class="fas fa-phone"></span>&nbsp; Call Centre
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="#">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Log off
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content" style="width:1000px;margin:0 auto;">

    <div class="layout_wrap text-left" style="position:center;">
{% block body %}
{% endblock %}
    </div>
  </div>
</div>
<div>
<footer id="footer" class="page-footer unique-color-dark mt-4">
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright: 8pax Development Team
    </div>
</footer>
     </div>
<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer class="page-footer font-small cyan darken-3">-->

    <!--&lt;!&ndash; Footer Elements &ndash;&gt;-->
    <!--<div class="container">-->

      <!--&lt;!&ndash; Grid row&ndash;&gt;-->
      <!--<div class="row">-->

        <!--&lt;!&ndash; Grid column &ndash;&gt;-->
        <!--<div class="col-md-12 py-5">-->
          <!--<div class="mb-5 flex-center">-->

            <!--&lt;!&ndash; Facebook &ndash;&gt;-->
            <!--<a class="fb-ic">-->
              <!--<i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
            <!--</a>-->
            <!--&lt;!&ndash; Twitter &ndash;&gt;-->
            <!--<a class="tw-ic">-->
              <!--<i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
            <!--</a>-->
            <!--&lt;!&ndash; Google +&ndash;&gt;-->
            <!--<a class="gplus-ic">-->
              <!--<i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
            <!--</a>-->
            <!--&lt;!&ndash;Linkedin &ndash;&gt;-->
            <!--<a class="li-ic">-->
              <!--<i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
            <!--</a>-->
            <!--&lt;!&ndash;Instagram&ndash;&gt;-->
            <!--<a class="ins-ic">-->
              <!--<i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>-->
            <!--</a>-->
            <!--&lt;!&ndash;Pinterest&ndash;&gt;-->
            <!--<a class="pin-ic">-->
              <!--<i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid row&ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; Footer Elements &ndash;&gt;-->

    <!--&lt;!&ndash; Copyright &ndash;&gt;-->
    <!--<div class="footer-copyright text-center py-3">© 2018 Copyright:-->
      <!--<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>-->
    <!--</div>-->
    <!--&lt;!&ndash; Copyright &ndash;&gt;-->

  <!--</footer>-->
  <!--&lt;!&ndash; Footer &ndash;&gt;-->
</body>
</html>